.header {
	display: flex;
	height: 75px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.nav {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.nav-item {
	width: 100px;
	height: 50px;
	margin: auto;
	font-size: 20px;
	color: grey;
}

.title {
	margin: auto;
	font-size: 40px;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}

.photo {
	width: 30%;
	height: 30%;
	margin: auto;
	align-items: baseline;
}

img {
	max-width: 100%;
	max-height: 100%;
}